@media (max-width: 575.98px) {
	.movie-card {
		&__title {
			font-size: 1.6rem;
			line-height: 19px;
		}

		&-estimates {
			top: 8px;
			left: 8px;

			&__item {
				padding: 8px 12px;
			}

			&__count {
				font-size: 1.6rem;
				line-height: 19px;
			}

			&__icon {
				width: 13px;
				height: 13px;
			}

			&_my {
				display: none;
			}
		}
	}
}

@media (max-width: 375px) {
	.movie-card {
		&__title {
			font-size: 1.3rem;
		}
		&-info {
			&__item {
				font-size: 1rem;
			}
		}
	}
}
