.button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  transition: background 0.2s;

  &__trailer {
    padding: 16px 24px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(74px);
    border-radius: 36px;

    img {
      width: 20px;
      height: 20px;
    }

    span {
      margin-left: 16px;
      color: #ffffff;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }

    &:hover {
      background: #384656;
    }
  }

  &-back {
    display: grid;
    place-items: center;
    padding: 10px;
    width: 32px;
    height: 32px;
    background: #192028;
    border-radius: 8px;

    img {
      width: 100%;
      height: 100%;
    }

    &:hover {
      background-color: #384656;
    }
  }

  &-share {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background: #10151B;
    border-radius: 12px;

    span {
      margin-right: 16px;
      font-size: 1.6rem;
      line-height: 20px;
      color: #FFFFFF;
    }

    img {
      width: 15px;
      height: 15px;
    }

    &:hover {
      background: #384656;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    padding-right: 16px;
    background: #368CFC;
    border-radius: 12px;

    span {
      margin-right: 17px;
      font-size: 1.6rem;
      line-height: 20px;
      color: #ffffff;
    }

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: #2375DF;
    }
  }

  &__telegram {
    display: flex;
    align-items: center;
    background: #368CFC;
    border-radius: 12px;
    padding: 12px 24px;

    span {
      margin-right: 16px;
      font-size: 1.6rem;
      line-height: 20px;
      color: #FFFFFF;
    }

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: #2375DF;
    }
  }

  &__hero {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    padding: 12px 24px;
    background: #FFFFFF;
    backdrop-filter: blur(104px);
    border-radius: 12px;

    &:hover {
      background: #DAE5F1;
    }

    span {
      margin-right: 16px;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 20px;
      color: #02060C;
    }

    img, picture {
      width: 20px;
      height: 20px;
    }
  }

  &__all-actors {
    padding: 12px 24px;
    font-size: 16px;
    line-height: 1.6rem;
    color: #FFFFFF;
    background: #10151B;
    border-radius: 12px;

    &:hover {
      background-color: #384656;
    }
  }

  &__selected {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background: #10151B;
    border-radius: 12px;

    span {
      margin-right: 16px;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 20px;
      color: #FFFFFF;
    }

    svg {
      width: 15px;
      height: 15px;
    }
  }

  &__log-out {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.2s;

    span {
      margin-right: 16px;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 19px;
      color: #ffffff;
    }

    &_img {
      width: 32px;
      height: 32px;
      background: #192028;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 16px;
        height: 16px;
      }
    }
    &:hover {
      .button__log-out_img {
        background: #384656;
      }
    }
  }

}