.selected-blocks {
  margin-bottom: 48px;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__btn {
    span,
    svg {
      pointer-events: none;
    }
  }

  &__btn_active {
    background: #1B212C;
    border-radius: 12px 12px 0px 0px;

    svg {
      transform: rotate(-180deg);
    }
  }

  &-list {
    position: absolute;
    top: 45px;
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    flex-direction: column;
    background: #1B212C;
    border-radius: 0px 12px 12px 12px;
    width: 180px;
    overflow: hidden;
    z-index: 10;

    &_active {
      display: flex;
    }

    &__item {
      display: flex;
      align-items: center;
    }

    &__link {
      flex-basis: 100%;
      padding: 12px 18px;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 17px;
      color: #FFFFFF;
      transition: background 0.2s;

      &:hover {
        background-color: #384656;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .selected-blocks {
    margin-bottom: 40px;
  }
}

@media (max-width: 375px) {
  .selected-blocks {
    &__wrapper {
      flex-flow: column nowrap;
      align-items: flex-start;
    }
    &-novelty__btn {
      margin-bottom: 10px;
    }
  }
}