@media (max-width: 575.98px) {
  .search {
    margin-left: 0;
    width: 63px;
    padding: 0;
    &:hover {
      background: transparent;
    }

    &::before {
      display: none;
    }

    &_focus {
      position: absolute;
      left: 0;
      width: 100%;
      padding: 0 24px;
      background: #1B212C !important;

      .search-dandruff-icon {
        margin: 0;
        margin-right: 14px;
      }
    }

    &-dandruff-icon {
      pointer-events: none;
      svg {
        width: 22px;
        height: 22px;

        path {
          fill: #ffffff;
        }
      }

      &_focus {
        svg {
          transform: scale(1);
        }
      }
    }

    &-input {
      padding: 0 40px;
      &::placeholder {
        opacity: 0;
      }
    }
  }
}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}