@media (max-width: 575.98px) {
  .filter {
    top: 98%;
    background: #02060C;
    height: 100vh;
    border-radius: 0px;
    &_no-results {
      padding: 0 24px;
      margin-top: 32px;
      &_mobile {
        display: block;
        font-size: 1.6rem;
        line-height: 20px;
        color: #717D8C;
        padding: 0 24px;
        padding-top: 16px;
      }
    }
    &-block {
      margin-top: 16px;
      &__link {
        padding-left: 24px;
      }
      &-history {
        &__link {
          padding-left: 54px;
          &::before {
            left: 25px;
          }
        }
      }
    }
  }
}