.header {
  @include d-f-start;
  position: relative;
  height: 51px;
  padding: 0 24px;
  background-color: #fff;
  color: #717D8C;
  background: rgba(16, 21, 27, 0.7);
  backdrop-filter: blur(134px);
}