@media (min-width: 575.98px) {
  .header {
    padding: 0 0 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px) {
  .header {
    padding: 0 0 0 calc(50vw - 320px);
  }
}

@media (min-width: 991.98px) {
  .header {
    padding: 0 0 0 calc(50vw - 448px);
  }
}

@media (min-width: 1199.98px) {
  .header {
    padding: 0 0 0 calc(50vw - 580px);
  }
}