@import 'fonts';
@import 'grid';
@import 'reboot';
@import 'mixin';

body {
  font-family: 'SFProDisplay';
  font-weight: normal;
  background-color: #02060C;
  color: #ffffff;
  font-size: 1.6rem;
}

.p-top {
  padding-top: 51px;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

button {
  background-color: transparent;
  border: none;
}

.section {
  &__mb {
    margin-bottom: 72px;
  }
}

@media (max-width: 575.98px) {
  .section {
    &__mb {
      margin-bottom: 64px;
    }
  }
  .p-top {
    padding-top: 63px;
  }
}

@import './all-styles';