@import 'fonts';
@import 'grid';
@import 'reboot';
@import 'mixin';

body {
  font-family: 'SFProDisplay';
  font-weight: normal;
  background-color: #02060C;
  color: #ffffff;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@import './burger-btn/burger-btn';

@import './buttons/buttons';

@import './header/header';
@import './header/header-media';
@import './header-btn/header-btn';

@import './nav/nav';

@import './search-block/search-block';
@import './search-block/search-block-media';

@import './search-filter/search-filter';
@import './search-filter/search-filter-media';

@import './hero/hero';

@import './material-in-site/material-in-site';

@import './novelty/novelty';
@import './novelty/novelty-media';