@import 'fonts';
@import 'grid';
@import 'reboot';
@import 'mixin';

body {
  font-family: 'SFProDisplay';
  font-weight: normal;
  background-color: #02060C;
  color: #ffffff;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

button {
  background-color: transparent;
  border: none;
}

.section {
  &__mb {
    margin-bottom: 128px;
  }
}

@media (max-width: 575.98px) {
  .section {
    &__mb {
      margin-bottom: 64px;
    }
  }
}

@import './section-name/section-name';

@import './burger-btn/burger-btn';

@import './buttons/buttons';

@import './header/header';
@import './header/header-media';
@import './header-btn/header-btn';

@import './nav/nav';

@import './search-block/search-block';
@import './search-block/search-block-media';

@import './search-filter/search-filter';
@import './search-filter/search-filter-media';

@import './hero/hero';

@import './material-in-site/material-in-site';

@import './novelty/novelty';
@import './novelty/novelty-media';

@import './list-movie/list-movie';
@import './list-movie/list-movie-media';

@import './movie-card/movie-card';
@import './movie-card/movie-card-media';

@import './more-movie-btn/more-movie-btn';

@import './write-to-us/write-to-us';



@import './footer/footer';