.nav {
  @include d-f-start;
  &__link {
    &:not(:last-child) {
      margin-right: 32px;
    }
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

// @media (max-width: 575.98px) {
//   .nav {
//     position: absolute;
//     top: 56px;
//     left: 0;
//     right: 0;
//     display: none;
//     flex-direction: column;
//     align-items: flex-start;
//     transition: opacity 1s;
//     &__link {
//       width: 100%;
//       padding: 16px 24px;
//       font-size: 2.8rem;
//       color: #ffffff;
//       &:not(:last-child) {
//         margin-right: 0;
//         margin-bottom: 8px;
//       }
//     }
//   }
// }